*{

}
body{
    width:100%;
    height: auto;
    overflow: hidden;
    background-color: #c4c4c4;
}
.content-wrapper{
    width: 100%;
}
.content-wrapper img{
    width:100%;
}
.text-wrapper{
    position: center;
    margin-top: -40%;
}
.logo {
    width: 10%;
    height: auto;
    display: block;
    margin-left: 45%;
}
.mouse{
    width: 3%;
    height: auto;
    display: block;
    margin-left: 48.5% 
}
.text-wrapper h1{
    text-align: center;
    color: whitesmoke;
}
.text-wrapper p{
    text-align: center;
    color: whitesmoke;
}