.content-wrapper{
    width: 100%;
}
.content-wrapper img{
    width:100%;
}
.text-wrapper{
    position: center;
    margin-top: -40%;
}
.logo {
    width: 10%;
    height: auto;
    display: block;
    margin-left: 45%;
    margin-bottom: 3%;
}
.mouse{
    width: 3%;
    height: auto;
    display: block;
    margin-left: 48.5%;
    margin-top: 10%;
    margin-bottom: 5%;
}
.text-wrapper h1{
    text-align: center;
    color: whitesmoke;
}
.text-wrapper p{
    text-align: center;
    color: whitesmoke;
}
.about{
    color: black;
    text-align: center;
    font-family: 'Roboto Slab', serif;
}